<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Admin Portfolio Website</title>
    <!-- Fonts -->
    <link rel="stylesheet" href="../assets/fonts/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="../assets/fonts/unicons/css/line.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/admin.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><img src="../assets/img/logo.png" alt=""></li>
            </ul>
            <ul class="header-profile">
                <li class="avatar-item"><img src="../assets/img/avatar.jpg" alt="" class="avatar-img"></li>
                <li><span>team2devs.com</span></li>
            </ul>
        </nav>
        <span class="header-profile-nav">
            <span> <i class="fa fa-sort-up"></i></span>
            <ul>
                <li><a href="profile.html">Profile</a></li>
                <hr class="hr">
                <li><a href="#">Message</a></li>
                <hr class="hr">
                <li><a href="login.html">Logout</a></li>
            </ul>
        </span>
    </header>
    <aside>
        <nav>
            <div class="nav-wrapper">
                <span class="nav__close">
                    <i class="fas fa-window-close"></i>
                </span>
                <div class="nav-list">
                    <ul>
                        <li>
                            <a class="nav-active" href="dashboard.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a  href="about.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>About Me</span>
                            </a>
                        </li>
                        <li>
                            <a  href="service.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Services</span>
                            </a>
                        </li>
                        <li>
                            <a href="skill.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Skills</span>
                            </a>
                        </li>
                        <li>
                            <a href="education.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Educations</span>
                            </a>
                        </li>
                        <li>
                            <a  href="experience.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Experiences</span>
                            </a>
                        </li>
                        <li>
                            <a  href="project.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Projects</span>
                            </a>
                        </li>
                        <li>
                            <a  href="testimonial.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Testimonials</span>
                            </a>
                        </li>
                        <li>
                            <a  href="message.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Messages</span>
                            </a>
                        </li>
                        <li>
                            <a  href="user.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Users</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
                <div class="nav-list">
                    <ul>
                        <li>
                            <a href="setting.html">
                                <span><i class="fas fa-cog "> </i></span>
                                <span>Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </aside>
    <main>
        
            <!-- Overview Page -->
            <section class="overview" id="overview">
                <div class="overview_left">
                    <div class="titlebar">
                        <h1 style="padding-left: 10px;">Overview Dashboard</h1>
                    </div>

                    <!-- TOP CARDS -->
                    <div class="overview_cards ">
                        <div class="overview_cards-item card">
                            <div class="overview_data">
                                <p>Skills</p>
                                <span>16</span>
                            </div>
                            <div class="overview_link">
                                <span></span>
                                <a href="#">View Skills</a>
                            </div>
                        </div>
                        <div class="overview_cards-item card">
                            <div class="overview_data">
                                <p>Educations</p>
                                <span>16</span>
                            </div>
                            <div class="overview_link">
                                <span></span>
                                <a href="#">View Educations</a>
                            </div>
                        </div>
                        <div class="overview_cards-item card">
                            <div class="overview_data">
                                <p>Experience</p>
                                <span>16</span>
                            </div>
                            <div class="overview_link">
                                <span></span>
                                <a href="#">View Experiences</a>
                            </div>
                        </div>
                        <div class="overview_cards-item card">
                            <div class="overview_data">
                                <p>Services</p>
                                <span>16</span>
                            </div>
                            <div class="overview_link">
                                <span></span>
                                <a href="#">View Services</a>
                            </div>
                        </div>
                        <div class="overview_cards-item card">
                            <div class="overview_data">
                                <p>Projects</p>
                                <span>9</span>
                            </div>
                            <div class="overview_link">
                                <span></span>
                                <a href="#">View Projects</a>
                            </div>
                        </div>
                        <div class="overview_cards-item card">
                            <div class="overview_data">
                                <p>Testimonials</p>
                                <span>9</span>
                            </div>
                            <div class="overview_link">
                                <span></span>
                                <a href="#">View Testimonials</a>
                            </div>
                        </div>
                        <div class="overview_cards-item card">
                            <div class="overview_data">
                                <p>Messages</p>
                                <span>9</span>
                            </div>
                            <div class="overview_link">
                                <span></span>
                                <a href="#">View Messages</a>
                            </div>
                        </div>
                        <div class="overview_cards-item card">
                            <div class="overview_data">
                                <p>Users</p>
                                <span>9</span>
                            </div>
                            <div class="overview_link">
                                <span></span>
                                <a href="#">View Users</a>
                            </div>
                        </div>
                       
                        
                    </div>
                    <!-- MEDIUM CARDS -->
                    <div class="overview_table ">
                        <div>
                            <div class="titlebar">
                                <h1>Latest Projects</h1>
                            </div>
                            <div class="table ui-card">
                                <div class="overview_table-header">
                                   <p>Image</p> 
                                   <p>Product</p>
                                </div>
                                <div class="overview_table-items" >
                                    <img src="..//assets/img/no-image.png" />
                                    <a>Product item.name item.name item.name</a>
                                </div>
                                <div class="overview_table-items" >
                                    <img src="../assets/img/no-image.png" />
                                    <a>Product item.name item.name item.name</a>
                                </div>
                                <div class="overview_table-items" >
                                    <img src="../assets/img/no-image.png" />
                                    <a>Product item.name item.name item.name</a>
                                </div>
                                <div class="overview_table-items" >
                                    <img src="../assets/img/no-image.png" />
                                    <a>Product item.name item.name item.name</a>
                                </div>
                                <div class="overview_table-items" >
                                    <img src="../assets/img/no-image.png" />
                                    <a>Product item.name item.name item.name</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="titlebar">
                                <h1>Latest Testimonials</h1>
                            </div>
                            <div class="table">
                                <div class="overview_table-header">
                                   <p>Image</p> 
                                   <p>Testimonial</p>
                                </div>
                                <div class="overview_table-items" >
                                    <img src="../assets/img/avatar.jpg" style="height:60px;width:60px;" />
                                    <a>Product item.name item.name item.name</a>
                                </div>
                                <div class="overview_table-items" >
                                    <img src="..assets/img/avatar.jpg" style="height:60px;width:60px;" />
                                    <a>Product item.name item.name item.name</a>
                                </div>
                                <div class="overview_table-items" >
                                    <img src="..assets/img/avatar.jpg" style="height:60px;width:60px;" />
                                    <a>Product item.name item.name item.name</a>
                                </div>
                                <div class="overview_table-items" >
                                    <img src="..assets/img/avatar.jpg" style="height:60px;width:60px;" />
                                    <a>Product item.name item.name item.name</a>
                                </div>
                                <div class="overview_table-items" >
                                    <img src="..assets/img/avatar.jpg" style="height:60px;width:60px;" />
                                    <a>Product item.name item.name item.name</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
                <div class="overview_right">
                    <div class="overview_analyse ui-card">
                        <canvas id="myChart"></canvas>
                    </div>
                    <div class="titlebar">
                        <h1>Skills</h1>
                    </div>
                    <div class="overview_skills">
                        <div class="overview_skills-title">
                            <h2>Frontend developer</h2>
                        </div>
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">HTML</h3>
                                <span class="skills_number">90%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_html"></span>
                            </div>
                        </div>
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">CSS</h3>
                                <span class="skills_number">80%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_css"></span>
                            </div>
                        </div>
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">JavaScript</h3>
                                <span class="skills_number">75%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_js"></span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="overview_skills">
                        <div class="overview_skills-title">
                            <h2>Backend developer</h2>
                        </div>
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">PHP</h3>
                                <span class="skills_number">90%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_html"></span>
                            </div>
                        </div>
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">Node Js</h3>
                                <span class="skills_number">80%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_css"></span>
                            </div>
                        </div>
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">Python</h3>
                                <span class="skills_number">75%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_js"></span>
                            </div>
                        </div>
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">Ruby</h3>
                                <span class="skills_number">75%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_js"></span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="overview_skills">
                        <div class="overview_skills-title">
                            <h2>Designer</h2>
                        </div>
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">Figma</h3>
                                <span class="skills_number">90%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_html"></span>
                            </div>
                        </div>
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">Sketch</h3>
                                <span class="skills_number">80%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_css"></span>
                            </div>
                        </div>
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">Adobe XD</h3>
                                <span class="skills_number">75%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_js"></span>
                            </div>
                        </div>
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">Photoshop</h3>
                                <span class="skills_number">75%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_js"></span>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>
        
    </main>
    <script src="../assets/js/admin.js"></script>
    <script src="../assets/js/Chart.min.js"></script>
    <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
    </script>
</body>

</html>