<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Admin Portfolio Website</title>
    <!-- Fonts -->
    <link rel="stylesheet" href="../assets/fonts/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="../assets/fonts/unicons/css/line.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/admin.css">
</head>
<body >
    <main>
<div class="account-container">
    <div class="account-card">
        <header>
            <h1 class="">Connect to a Portfolio account</h1>
            <p>Log into your account to post skills</p>
        </header>
        <form>
            <label>Email</label>
            <input id="email" type="email" name="email" value="" />

            <label for="password">Password</label>
            <input id="password" type="password" name="password"value="" />

            <button type="submit">Sign In</button> 
            <br><br>
            <p>Don't have an account? <a href="register.html" class="text-laravel">Register</a></p>
        </form>
    </div>
</div>
</main>
</body>
</html>