<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Admin Portfolio Website</title>
    <!-- Fonts -->
    <link rel="stylesheet" href="../assets/fonts/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="../assets/fonts/unicons/css/line.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/admin.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><img src="../../template/assets/img/logo.png" alt=""></li>
            </ul>
            <ul class="header-profile">
                <li class="avatar-item"><img src="../../template/assets/img/avatar.jpg" alt="" class="avatar-img"></li>
                <li><span>team2devs.com</span></li>
            </ul>
        </nav>

        <span class="header-profile-nav">
            <span> <i class="fas fa-sort-up"></i></span>
            <ul>
                <li><a href="#">Profile</a></li>
                <hr>
                <li><a href="#">Message</a></li>
                <hr>
                <li><a href="#">Logout</a></li>
            </ul>
        </span>

    </header>
    <aside>
        <nav class="nav">
            <div class="nav-wrapper">
                <span class="nav__close">
                    <i class="fas fa-window-close"></i>
                </span>
                <div class="nav-list">
                    <ul>
                        <li>
                            <a href="dashboard.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="about.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>About Me</span>
                            </a>
                        </li>
                        <li>
                            <a href="service.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Services</span>
                            </a>
                        </li>
                        <li>
                            <a href="skill.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Skills</span>
                            </a>
                        </li>
                        <li>
                            <a href="education.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Educations</span>
                            </a>
                        </li>
                        <li>
                            <a href="experience.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Experiences</span>
                            </a>
                        </li>
                        <li>
                            <a href="project.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Projects</span>
                            </a>
                        </li>
                        <li>
                            <a href="testimonial.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Testimonials</span>
                            </a>
                        </li>
                        <li>
                            <a href="message.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Messages</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-active" href="user.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Users</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="nav-list">
                    <ul>
                        <li>
                            <a class="nav-active" href="setting.html">
                                <span><i class="fas fa-cog "> </i></span>
                                <span>Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </aside>

    <main>
        <!--==================== MEDIAS SETTING ====================-->
        <section class="setting" id="setting">
            <div class="setting-wrapper">
                <div class="setting_nav">
                    <div class="setting-titlebar">
                        <img src="../../template/assets/img/avatar.jpg" alt="" class="setting-avatar">
                        <p>Natalia Brakux</p>
                    </div>
                    <nav class="nav">
                        <div class="nav-setting-wrapper">
                            <div class="nav-list">
                                <ul class="nav-list-item-setting">
                                    <li>
                                        <a href="http://127.0.0.1:8000/admin/abouts" class="">
                                            <span><i class="fas fa-cog"></i></span>
                                            <span>About Me</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="nav-list-item-setting">
                                    <li>
                                        <a href="http://127.0.0.1:8000/admin/medias" class="nav-active">
                                            <span><i class="fas fa-cog"></i></span>
                                            <span>My social Media</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="setting_content">
                    <section class="about" id="about">
                        <div class="titlebar">
                            <h1>Medias</h1>
                        </div>
                        <div class="card-wrappere">
                            <div class="card">
                                <h2>Social media</h2>
                                <div class="social_table-heading">
                                    <p>Link</p>
                                    <p>Icon</p>
                                    <p></p>
                                </div>
                                <!-- item 1 -->
                                <div class="social_table-items">
                                    <p>https://www.facebook.com</p>
                                    <button class="service_table-icon">
                                        <i class="uil uil-facebook-f"></i>
                                    </button>
                                    <button>
                                        delete
                                    </button>
                                </div>

                                <br>

                                <div class="social_table-heading">
                                    <p>Link</p>
                                    <span style="color:#006fbb;">(Find your icon class: Font Awesome)</span>
                                    <p></p>
                                </div>
                                <p></p>
                                <div class="social_table-items">

                                    <input type="text" />

                                    <input type="text" />
                                    <button>
                                        Add Media
                                    </button>
                                </div>

                            </div>
                        </div>


                    </section>
                </div>
            </div>
        </section>
    </main>
    <script src="../../template/assets/js/admin.js"></script>
</body>

</html>