<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Admin Portfolio Website</title>
    <!-- Fonts -->
    <link rel="stylesheet" href="../assets/fonts/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="../assets/fonts/unicons/css/line.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/admin.css">
</head>
<body>

  <header>
    <nav>
      <ul>
        <li><img src="../../template/assets/img/logo.png" alt=""></li>
      </ul>
      <ul class="header-profile">
        <li class="avatar-item"><img src="../../template/assets/img/avatar.jpg" alt="" class="avatar-img"></li>
        <li><span>team2devs.com</span></li>
      </ul>
    </nav>

    <span class="header-profile-nav">
      <span> <i class="fas fa-sort-up"></i></span>
      <ul>
        <li><a href="#">Profile</a></li>
        <hr>
        <li><a href="#">Message</a></li>
        <hr>
        <li><a href="#">Logout</a></li>
      </ul>
    </span>

  </header>
  <aside>
    <nav class="nav">
      <div class="nav-wrapper">
        <span class="nav__close">
          <i class="fas fa-window-close"></i>
        </span>
        <div class="nav-list">
          <ul>
            <li>
              <a href="dashboard.html">
                <span><i class="fas fa-home"> </i></span>
                <span>Home</span>
              </a>
            </li>
            <li>
              <a href="about.html">
                <span><i class="fas fa-home"> </i></span>
                <span>About Me</span>
              </a>
            </li>
            <li>
              <a href="service.html">
                <span><i class="fas fa-home"> </i></span>
                <span>Services</span>
              </a>
            </li>
            <li>
              <a href="skill.html">
                <span><i class="fas fa-home"> </i></span>
                <span>Skills</span>
              </a>
            </li>
            <li>
              <a href="education.html">
                <span><i class="fas fa-home"> </i></span>
                <span>Educations</span>
              </a>
            </li>
            <li>
              <a href="experience.html">
                <span><i class="fas fa-home"> </i></span>
                <span>Experiences</span>
              </a>
            </li>
            <li>
              <a href="project.html">
                <span><i class="fas fa-home"> </i></span>
                <span>Projects</span>
              </a>
            </li>
            <li>
              <a href="testimonial.html">
                <span><i class="fas fa-home"> </i></span>
                <span>Testimonials</span>
              </a>
            </li>
            <li>
              <a href="message.html">
                <span><i class="fas fa-home"> </i></span>
                <span>Messages</span>
              </a>
            </li>
            <li>
              <a class="nav-active" href="user.html">
                <span><i class="fas fa-home"> </i></span>
                <span>Users</span>
              </a>
            </li>

          </ul>
        </div>
        <div class="nav-list">
          <ul>
            <li>
              <a class="nav-active" href="setting.html">
                <span><i class="fas fa-cog "> </i></span>
                <span>Settings</span>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </aside>
  <main>

    <section class="messages">
      <div class="messages_container">
        <div class="titlebar">
          <h1>Messages </h1>
        </div>

        <div class="table">

          <div class="table-filter">
            <div>
              <ul class="table-filter-list">
                <li>
                  <p class="table-filter-link link-active">All</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="table-search">
            <div>
              <select class="search-select" name="" id="">
                <option value="">Filter Message</option>
              </select>
            </div>
            <div class="relative">
              <input class="search-input" type="text" name="search" placeholder="Search Message...">
            </div>
          </div>

          <div class="message_table-heading">
            <p>Name</p>
            <p>Email</p>
            <p>Subject</p>
            <p>Description</p>
            <p>Status</p>
            <p>Actions</p>
          </div>
          <!-- item 1 -->
          <div class="message_table-items">
            <p>Name</p>
            <p>email</p>
            <p>subject of message </p>
            <p>description description description description description description</p>
            <p>
              <span class="badge_read">
                Read
              </span>
              <span class="badge_unread">
                Unread
              </span>
            </p>
            <div>
              <button class="btn danger">
                <i class="far fa-trash-alt"></i>
              </button>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="about">

      <div class="titlebar">
        <h1>Edit Message</h1>
      </div>
      <div class="card-wrapper">
        <div class="wrapper_left">
          <div class="card">
            <label>Title :</label>
            <p>message name </p>
            <br>
            <label>Email :</label>
            <p>message->email </p>
            <br>
            <label>Subject :</label>
            <p>message subject </p>
            <br>
            <label>Description :</label>
            <p>message description</p>
            <br>
            <div>
              <label>Status :</label>
              <div>
                <input id="status" type="radio">
                <span>Read</span>
              </div style="display:inline">
              <div>
                <input id="status" type="radio">
                <span>Unread</span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="titlebar">
        <button>Update Message</button>
      </div>
    </section>

  </main>
  <script src="../../template/assets/js/admin.js"></script>
</body>

</html>