<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/admin.css" />  
    <title>Register</title>
   
</head>
<body class="account-body">
<div class="account-container">
    <div class="account-card">
        <header>
            <h1 class="">Create a Portfolio account</h1>
            <p>Log into your account to post skills</p>
        </header>
        <form>
            <label>Email</label>
            <!-- Error Example -->
            <p>Please enter a valid email</p>
            <input id="email" type="email" name="email" />
            

            <label for="password">Password</label>
            <input id="password" type="password" name="password" />

            <label>Confirm Password</label>
            <input type="password" name="password2" />

            <button type="submit">Sign Up</button> 
            <br><br>
            <p>Already have an account? <a href="login.html" class="text-laravel">Login</a></p>
        </form>
    </div>
</div>
</body>
</html>