<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Admin Portfolio Website</title>
    <!-- Fonts -->
    <link rel="stylesheet" href="../assets/fonts/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="../assets/fonts/unicons/css/line.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/admin.css">
</head>
<body>

    <header >
        <nav>
            <ul>
                <li><img src="../assets/img/logo.png" alt=""></li>
            </ul>
            <ul class="header-profile">
                <li class="avatar-item"><img src="../assets/img/avatar.jpg" alt="" class="avatar-img"></li>
                <li><span>team2devs.com</span></li>
            </ul>
        </nav>

        <span class="header-profile-nav">
            <span> <i class="fas fa-sort-up"></i></span>
        <ul>
            <li><a href="profile.html">Profile</a></li>
            <hr>
            <li><a href="#">Message</a></li>
            <hr>
            <li><a href="login.html">Logout</a></li>
        </ul>
        </span>

    </header>
    <aside>
        <nav class="nav">
            <div class="nav-wrapper">
                <span class="nav__close">
                    <i class="fas fa-window-close"></i>
                </span>
                <div class="nav-list">
                    <ul>
                        <li>
                            <a  href="dashboard.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a  href="about.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>About Me</span>
                            </a>
                        </li>
                        <li>
                            <a  href="service.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Services</span>
                            </a>
                        </li>
                        <li>
                            <a href="skill.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Skills</span>
                            </a>
                        </li>
                        <li>
                            <a href="education.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Educations</span>
                            </a>
                        </li>
                        <li>
                            <a  href="experience.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Experiences</span>
                            </a>
                        </li>
                        <li>
                            <a  href="project.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Projects</span>
                            </a>
                        </li>
                        <li>
                            <a  href="testimonial.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Testimonials</span>
                            </a>
                        </li>
                        <li>
                            <a  href="message.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Messages</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-active" href="user.html">
                                <span><i class="fas fa-home"> </i></span>
                                <span>Users</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
                <div class="nav-list">
                    <ul>
                        <li>
                            <a class="nav-active" href="setting.html">
                                <span><i class="fas fa-cog "> </i></span>
                                <span>Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </aside>
    <main>
     
            <!--==================== USERS ====================-->
            <section class="users" id="users">
                <div class="titlebar">
                    <h1>Users </h1>
                    <button class="open-modal">New User</button>
                </div>
                <div class="table">

                    <div class="table-filter">
                        <div>
                            <ul class="table-filter-list">
                                <li>
                                    <p class="table-filter-link link-active">All</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-search">
                        <div>
                            <select class="search-select" name="" id="">
                                <option value="">Filter User</option>
                            </select>
                        </div>
                        <div class="relative">
                            <input class="search-input" type="text" name="search" placeholder="Search User...">
                        </div>
                    </div>
        
                    <div class="user_table-heading">
                        <p>Photo</p> 
                        <p>Name</p>
                        <p>Role</p>
                        <p>Actions</p>
                    </div>
                    <!-- item 1 -->
                    <div class="user_table-items">
                        <p>
                            <img src="../assets/img/avatar.jpg" alt="" class="user_img-list">
                        </p>
                        <p>Backend Developer</p>
                        <p>Backend Developer</p>
                        <div>
                            <button class="btn success">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button class="btn danger" >
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </section>
            <!-------------- USER MODAL --------------->
            <div class="modal " >
                <div class="modal-content">
                    <h2>Create User</h2>
                    <span class="close-modal">×</span>
                    <hr>
                    <div>
                        <label>Name</label>
                        <input type="text" />

                        <label>Email</label>
                        <input type="text" />
                        
                        <label>Bio</label>
                        <textarea cols="20" rows="3"></textarea>
                       
                        <p>Type</p>
                        <select name="" id="">
                            <option disabled>Select Role</option>
                            <option value="admin">Admin</option>
                            <option value="user">Standard User</option>
                        </select>

                        <label>Password</label>
                        <input  type="password" id="password" >
                    </div>
                    <hr>
                    <div class="modal-footer">
                        <button class="close-modal">
                            Cancel
                        </button>
                        <button class="secondary close-modal">
                            <span><i class="fa fa-spinner fa-spin"></i></span>
                          Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../assets/js/admin.js"></script>
</body>

</html>